<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Películas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Películas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <form (ngSubmit)="agregarPelicula()">
    <ion-item class="input-item">
      <ion-label>Título</ion-label>
      <ion-input [(ngModel)]="nuevaPelicula.titulo" name="titulo" required></ion-input>
    </ion-item>
    <ion-item class="input-item">
      <ion-label>Descripción</ion-label>
      <ion-input [(ngModel)]="nuevaPelicula.descripcion" name="descripcion" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Añadir Película</ion-button>
  </form>
  
  <ion-list>
    <ion-item *ngFor="let pelicula of peliculas" (click)="verDetalle(pelicula.id)">
      <ion-label>
        <h2>{{ pelicula.data.titulo }}</h2>
        <p>{{ pelicula.data.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>