<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Lista de Películas</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="agregarPelicula()">
    <!-- Titulo -->
    <ion-item class="input-item">
      <ion-label>Título:</ion-label>
      <ion-input [(ngModel)]="nuevaPelicula.titulo" name="titulo" required></ion-input>
    </ion-item>
    <!-- Descripción -->
    <ion-item class="input-item">
      <ion-label>Descripción:</ion-label>
      <ion-input [(ngModel)]="nuevaPelicula.descripcion" name="descripcion" required></ion-input>
    </ion-item>
    <!-- Director/a -->
    <ion-item class="input-item">
      <ion-label>Director/a:</ion-label>
      <ion-input [(ngModel)]="nuevaPelicula.director" name="director" required></ion-input>
    </ion-item>
    <!-- Música original -->
    <ion-item class="input-item">
      <ion-label>Música original:</ion-label>
      <ion-input [(ngModel)]="nuevaPelicula.musica" name="musica" required></ion-input>
    </ion-item>
    <!-- Duración -->
    <ion-item class="input-item">
      <ion-label>Duración:</ion-label>
      <ion-input [(ngModel)]="nuevaPelicula.duracion" name="duracion" required></ion-input>
    </ion-item>
    <!-- Precio de entrada -->
    <ion-item class="input-item">
      <ion-label>Precio de entrada:</ion-label>
      <ion-input [(ngModel)]="nuevaPelicula.precio" name="precio" required></ion-input>
    </ion-item>
    <!-- Fecha de Salida -->
    <ion-item class="input-item">
      <ion-label>Fecha:</ion-label>
      <ion-input [(ngModel)]="nuevaPelicula.fecha" name="fecha" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Añadir Película</ion-button>
  </form>

  <ion-list>
    <ion-item *ngFor="let pelicula of peliculas" (click)="verDetalle(pelicula.id)">
      <ion-label>
        <h2>{{ pelicula.data.titulo }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="agregarNuevo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>